<div class="hero-unit">
	<h1>Welcome To My First Rails App!</h1>
		<p>
			This is the home page for
			<%= link_to"My First Rails App", "http://www.espn.com" %>
		</p>

		<p>

			<%= link_to"Sign up Now!", "#", class: "btn btn-large btn-primary" %>
		</p>
</div>